# Default ignored files
/.idea/
**/__pycache__/
/common/__pycache__
common/__pycache__/commonfunc.cpython-310.pyc
common/__pycache__/plotter.cpython-310.pyc
solvers/__pycache__/__init__.cpython-310.pyc
solvers/__pycache__/solvegnlse.cpython-310.pyc
run_sensor.py
run_TwoPulse_Quartic.py
run_loop_quartic_ref.py
run_TwoPulse_bizero.py
run_loop_bizero.py